.header__lang-item {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #828282;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s ease;
}

.header__lang-item:hover {
  color: #070707;
}

@media screen and (max-width: 580px) {
  .header__lang-item {
    font-size: 34px;
    line-height: 42px;
  }
}
