.about__head {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  align-items: flex-end;
}

@media screen and (max-width: 1000px) {
  .about__head {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
}
