.info__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 486px;
  margin: 18px auto 0;
  padding: 0;
  color: #070707;
  font-family: "Gilroy", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 580px) {
  .info__content {
    width: 316px;
    gap: 30px;
  }
}
