.header__item {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  cursor: pointer;
  transition: color 0.5s ease;
}

.header__item:hover {
  color: #070707;
}

@media screen and (max-width: 580px) {
  .header__item {
    margin-top: 68px;
    font-size: 34px;
    line-height: 42px;
  }
}
